h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#header {
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(141, 92, 92);
}

.card-header {
    background-color: rgb(76, 76, 179);
}

.card-body {
    border: 2px solid  rgb(76, 76, 179);
}

#cards {
    margin-bottom: 10px;
}