body {
    background: url(../images/train-station1.jpg);
    /* background-position:  */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#header {
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgb(44,65,42);
}

.card-header {
    background-color: rgb(207,169,114);
}

.card-body {
    border: 2px solid  rgb(207,169,114);
}

#cards {
    margin-bottom: 10px;
}